/******************************************************************************/
// config/_colors.scss
//
// DESCRIPTION: Establishes the brand colors. Only colors relative to the brand
// definition live here.
//


$black: #111;
$off-black: #333;
$white: #fafafa;
$off-white: #eaeaea;
